---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <span>© {year} Bayram Bozyel</span>
  <span class="site-footer__links">
    <a href="/hakkimda">Hakkımda</a>
    <a href="/iletisim">İletişim</a>
    <a href="/rss.xml">RSS</a>
  </span>
</footer>
